<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
<meta charset="UTF-8">
<title>Аккредитация 2026</title>
<link rel="stylesheet" th:href="@{/css/welcome.css}">
</head>
<body>

	<header class="header">
		<div class="status-bar">
			Статус: <span id="status-text">Гость</span>
		</div>
	</header>

	<main class="content">
		<div class="album-wrapper">
			<img th:src="@{/images/welcome.jpg}" alt="Обложка альбома"
				class="album-img"> <a
				th:href="@{http://localhost:8080/auth/login(redirect_uri='http://localhost:8080/client/data')}"
				id="auth-link" class="overlay-link"> <span id="user-display">ВХОД</span>
			</a>
		</div>
	</main>

	<div class="RP-SCRIPT">
		<a class="RP-LINK" href="https://radiopotok.ru/radio/603">Радио
			Монте-Карло</a>
	</div>
	<script defer src="https://radiopotok.ru/f/script6.1/603.js"
		charset="UTF-8"></script>

	<script th:src="@{/js/welcome.js}"></script>
</body>
</html>