server:
  port: 8080
  # Добавляем, чтобы редиректы после логина работали корректно через Gateway
  forward-headers-strategy: framework

spring:
  application:
    name: auth-service
  
  datasource:
    # 'db' — это имя сервиса из твоего docker-compose.yml
    url: jdbc:postgresql://db:5432/auth_db
    username: user
    password: password
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      # 'update' автоматически создаст таблицы в Postgres при первом запуске
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        # Указываем диалект именно для Postgres
        dialect: org.hibernate.dialect.PostgreSQLDialect
  
  config:
    import: "vault://"
  cloud:
    vault:
      uri: http://vault:8200
      token: ${SPRING_CLOUD_VAULT_TOKEN:my-root-token-qwerty12345}
      kv:
        enabled: true
        backend: secret
        default-context: application

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/

jwt:
  # Напоминаю: секрет лучше вынести в Vault, но пока оставляем здесь
  secret: "placeholder_key_auth_32_chars_long"