server:
  port: 8080

spring:
  application:
    name: auth-service
  config:
    import: "vault://"
  cloud:
    vault:
      uri: http://vault:8200
      token: ${SPRING_CLOUD_VAULT_TOKEN:my-root-token-qwerty12345}
      kv:
        enabled: true
        backend: secret
        default-context: application

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/

jwt:
  # Такая же заглушка, как в гейтвее.
  secret: "placeholder_key_auth_32_chars_long"