@charset "UTF-8";

body {
    margin: 0;
    background-color: #1a1a1a; /* Темный фон для контраста */
    color: white;
    font-family: 'Georgia', serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    padding: 20px;
    text-align: right;
}

.status-bar {
    font-size: 0.9em;
    color: #aaa;
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.album-wrapper {
    position: relative;
    max-width: 600px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.8);
    transition: transform 0.3s ease;
}

.album-wrapper:hover {
    transform: scale(1.02);
}

.album-img {
    width: 100%;
    display: block;
    border-radius: 4px;
}

.overlay-link {
    position: absolute;
    /* Эти параметры (top/left) нужно будет чуть-чуть подогнать под твою картинку */
    top: 76%; 
    left: 50%;
    transform: translate(-50%, -50%);
    
    text-decoration: none;
    width: 60%; /* Ширина зоны клика по ленте */
    text-align: center;
}

#user-display {
    color: #d4af37; /* Золотой цвет тиснения */
    font-size: 2.2rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
    transition: color 0.3s;
}

.overlay-link:hover #user-display {
    color: #fff;
    text-shadow: 0 0 15px #d4af37;
}